.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  
  .btn-circle.btn-lg {
    width: 50px;
    text-align: center;
    height: 50px;
    /*padding: 10px 16px;*/
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .vertical-scrollable{
    height:500px;
    overflow-y: scroll;
  }
  .status{
      text-align: center;
  }

  .d-flex
  {
    height: 250px;
  }
  .funddash
  {
    height: 500px;
  }
  