@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

/* body {
  margin: 0;
} */

.sections {
  background-image: url("https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-position: fixed;
  display: flex;
  justify-content: center;
}

.containers {
  background-color: white;
  height: fit-content;
  padding: 50px 80px;
  margin: 50px;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}

#description {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.inputwraps {
  margin: 10px 0;
}

.cols {
  display: flex;
  flex-direction: column;
}

.mt_8 {
  margin-top: 8px;
}

input,
select {
  padding: 15px;
  font-size: 0.9rem;
}

.bolds {
  font-weight: 600;
  font-size: 1.1rem;
}

textarea {
  width: 100%;
}

button {
  margin-top: 50px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

label:hover,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}